---
title: InnerSourcing Services
suppress_header: true
description: "Bring your teams together to leverage existing capabilities."
extra_css:
  - services.css
---

.wrapper
  .simple-header
    %h1
      InnerSourcing Services
    %h3.headline-subtitle
      The power and advantages of open source within your organization, 
      %br
      without giving away your source code.

.services-inner
  .page-container.container
    %ol.breadcrumb
      %li 
      = breadcrumbs(current_page)
    .row
      .col-md-10.col-md-offset-1.tile
        %h1 Summary
        %p.service-para
          Your teams already know that open source libraries provide leverageable tools to accelerate your development lifecycle.  However, InnerSourcing is just as important in today's modern enterprise.  With large, diverse, geographically dispersed teams, the need for collaboration tools inside of an organization is critical.  Allowing users to be in a single application for the entire DevOps lifecycle can produce network effects within an organization similar to those in the open source community.
        %p.service-para
          Most organizations (at least 100,000 of them) have some GitLab instances today - whether it be many GitLab Core (open source) instances or a few licensed GitLab enterprise servers.  Moving these instances as well as other legacy git or source control systems to a single enterprise platform can bring the power and advantages of open source within your organization, without giving away your source code.
        %p.service-para
          GitLab's Professional Services team can help accelerate this process through managed migrations of both existing GitLab instances and other legacy tools to an enterprise platform.  Additionally, we provide advice and mentoring on running GitLab at scale for large organizations.

        %h2 Who is this service for?
        %p.service-para
          This service is particularly valuable for customers with large enterprises who want to ensure their intellectual property is fully leveraged across the organization and those customers who have a large proliferation of tools / GitLab instances today.

        %h2 What's included?
        %ul
          %li Migration/Consolidation of multiple instances of GitLab/Legacy SCM into a single enterprise instance
          %li <a href="/services/education/innersourcing-course/">GitLab InnerSourcing Training</a> to establish grassroots best practices with developers
          %li Consulting services aroud enterprise change management, access controls, and governance        

        <i>Note: these services can be modified to meet your Company's needs. Use the form below to learn more. </i>
        %h2 Related Services
        %p.service-para
          Train your whole team on InnerSourcing with 
          %a{href: "/services/education/innersourcing-course/"} GitLab InnerSourcing Training.

.services-form#contactform
  .page-container.container.text-center
    %h2 Interested in GitLab Professional Services? Get in touch.
    %script{src: "//page.gitlab.com/js/forms2/js/forms2.min.js"}
    %form#mktoForm_1476
    :javascript
      MktoForms2.loadForm("//page.gitlab.com", "194-VVC-221", 1476, function(form) {
        form.onSuccess(function(values, followUpUrl) {

          form.getFormElem().hide();
          document.getElementById('confirmform').style.visibility = 'visible';
          return false;
        });
      });
    #confirmform{style: "visibility:hidden;"}
      %p Submission received! We'll be in contact shortly.
