---
layout: default
title: Five AWS customers who depend on GitLab for DevOps workflow
suppress_header: true
extra_css:
  - styles-2018.css
destination_url: "https://learn.gitlab.com/c/five-aws-customers-w?x=04KSqy&lb_email="
form_id: "1002"
form_type: "resources"
cta_title: "Download the eBook"
cta_date: 
cta_subtitle: 
link_text: "Click here to download the eBook"
success_message: "You will also receive a copy of the eBook sent to your inbox shortly."
---

.wrapper
  .page-illustrated-header-container
    = partial "includes/icons/gitlab-icon-pattern-header.svg"
    .container
      .header-container-content
        %h1.page-headline How five AWS customers use GitLab
        %h2.page-headline A DevOps workflow with increased efficiency

  .content-container
    .wrapper.container{ role: "main" }
      .row
        .col-xs-12.col-md-6.col-md-offset-1
          .content-section
            %p Complicated toolchains act as a barrier for communication and collaboration. For five AWS customers, choosing GitLab allowed them to better manage their cloud resources and improve workflows. 
            
            %p See how the teams at Trek10, KnowBe4, Wag!, Ask Media Group, and Axway achieved up-to-date software releases, high-end efficiency, and reduced their security risks with the help of AWS and GitLab.

            %h3 What you’ll learn in this eBook:
            %ul
              %li Common DevOps workflow challenges
              %li How GitLab’s single application increases efficiency
              %li How AWS and GitLab work together for faster deployments

            %p Download the eBook to see how AWS customers can benefit from GitLab’s complete DevOps platform, delivered as a single application.

        .col-md-4.col-md-offset-1
          = partial "includes/form-to-resource", locals: { destination_url: current_page.data.destination_url, form_id: current_page.data.form_id, form_type: current_page.data.form_type, cta_title: current_page.data.cta_title, cta_date: current_page.data.cta_date, cta_subtitle: current_page.data.cta_subtitle, link_text: current_page.data.link_text, success_message: current_page.data.success_message }